<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    backupGlobals="false"
    beStrictAboutOutputDuringTests="true"
    colors="true"
    executionOrder="random"
    failOnRisky="true"
    failOnWarning="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    cacheDirectory="build/.phpunit.cache"
    beStrictAboutCoverageMetadata="true">
    <coverage includeUncoveredFiles="true">
        <report>
            <clover outputFile="build/phpunit/clover.xml"/>
            <html outputDirectory="build/phpunit/html"/>
            <php outputFile="build/phpunit/coverage.serialized"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
            <xml outputDirectory="build/phpunit/xml-coverage"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="main">
            <directory>./tests</directory>
            <exclude>./tests/_support</exclude>
        </testsuite>
    </testsuites>
    <extensions>
        <bootstrap class="Nexus\PHPUnit\Tachycardia\TachycardiaExtension">
            <parameter name="time-limit" value="0.50"/>
            <parameter name="report-count" value="30"/>
            <parameter name="format" value="table"/>
        </bootstrap>
        <bootstrap class="DG\BypassFinals\PHPUnitExtension">
            <parameter name="bypassFinal" value="true"/>
            <parameter name="bypassReadOnly" value="false"/>
            <parameter name="cacheDirectory" value="./cache"/>
        </bootstrap>
    </extensions>
    <logging>
        <testdoxHtml outputFile="build/phpunit/testdox.html"/>
        <testdoxText outputFile="build/phpunit/testdox.txt"/>
        <junit outputFile="build/phpunit/junit.xml"/>
    </logging>
    <php>
        <env name="XDEBUG_MODE" value="coverage"/>
        <const name="SRCPATH" value="./src/"/>
        <!-- https://getcomposer.org/xdebug -->
        <env name="COMPOSER_DISABLE_XDEBUG_WARN" value="1"/>
    </php>
    <source>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
        <exclude>
        </exclude>
    </source>
</phpunit>
